<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://code.alibabatech.com/schema/dubbo
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--dubbo版本很多注意导入alibaba头文件也记得改-->
    <!--
        【说明】：项目是基于springboot的，所以下面注释的部分配置，已经在application-dev(pro).yml中配置了。 项目启动会自动注入配置；
                  对于 <dubbo:service> 节点里面的一些参数，比如timeout、check等，也都无需在这xml中硬编码配置了，都在application-dev(pro).yml中配置好了。springboot还是很方便的
        <dubbo:application name="${sping.application.name}" />
        <dubbo:registry address="${zookeeper.register.center.url}" timeout="${dubbo.provider.timeout}" />
        <dubbo:protocol name="${dubbo.rpc.protecol}" port="${dubbo.protocol.port}" codec="spring" />
    -->
    <dubbo:application name="${spring.dubbo.application.name}" />
    <dubbo:registry address="${spring.dubbo.registry.address}" timeout="${dubbo.provider.timeout}" />
    <dubbo:protocol name="${spring.dubbo.protocol.name}" port="${spring.dubbo.protocol.port}" codec="spring" />
    <!--
	           生产者配置 生产者  远程默认调用3次 参数 retries="2" async="true" 异步返回结果 默认是同步 timeout="10000" 毫秒
	           用dubbo协议在20882端口暴露服务  固定线程池 10 启动时建立线程，不关闭，一直持有  负载均衡策略 轮询
	 -->
    <dubbo:provider  timeout="10000"  threads="10" threadpool="fixed" loadbalance="roundrobin"/>
    <!-- 基础服务 -->
    <dubbo:service interface="com.ruoyi.api.service.ShikigamaService" ref="shikigamaServiceImpl"  />

    <dubbo:service interface="com.ruoyi.api.service.ITyphoonService" ref="typhoonServiceImpl"  />

    <!-- 使用注解方式-->
    <!--<dubbo:annotation package="com.itstyle"/>-->

</beans>